:root{
    --green: #1ec6b6;
    --light-grey: #f7f7f7;
    --dark: #0e1010;
    --bg: #000;
    --bgs: #1FA2FF;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    --trans: all 0.3s ease-in-out;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
    margin-top: 130px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    width: 250px;
}

/* Search button */
.search-button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}
.search-button:hover {
    background-color: #3654ff;
    cursor: pointer;
}
.search-button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}
.search-button:hover svg {
    transform: translateX(5px);
}
.text {
    margin: 0 1.5em
}

/* Card Info */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.card {
    height: 2%;
    border: 1px solid #ccc;
    border-radius: 1.02rem;
    padding: 15px;
    width: 300px;
    background: rgba(0, 0, 0, 0.5);
    transition: .4s ease-in-out;
}
.card:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
    transition: .4s ease-in-out;
}
.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
h2 {
    margin-top: 0;
}
.card img {
    width: 70%;
    height: 70%;
    border-radius: 50%;
}
.card-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* del button */
.del-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}
.svgIcon {
    width: 12px;
    transition-duration: .3s;
}
.svgIcon path {
    fill: white;
}
.del-button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}
.del-button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}
.del-button::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}
.del-button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}


/* Update Btn */
.Btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: #1FA2FF;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #1FA2FF;
    transition-duration: .3s;
}

.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btn:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px #1FA2FF;
}